* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  background-image: url(images/books.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.transparent {
  background-color: rgba(51, 51, 51, 0.77);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  margin-bottom: 25px;
  color: #fff;
}

.form {
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 410px;
}

.btn {
  align-self: flex-end;
  font-size: large;
  font-weight: bold;
  border: 3px solid #333;
  border-radius: 8px;
  cursor: pointer;
  width: 25%;
  height: 35px;
}

input {
  margin: 5px;
  width: 400px;
  height: 30px;
  font-size: large;
  font-weight: bold;
  border: 3px solid #333;
  outline: none;
}

.delete {
  font-weight: bold;
  cursor: pointer;
  margin: 2px;
}

.book-list {
  width: 250px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
  background-color: #fff;
  margin: 8px;
}

.text {
  color: #fff;
  font-size: large;
  font-weight: bold;
}

.title {
  margin-bottom: 28px;
}

.author {
  margin-bottom: 28px;
}

.line {
  margin: 18px;
  border-bottom: 4px solid #fff;
  width: 200px;
}

.list-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
